{% extends "site_app/base.html" %}
{% load static %}

  {% block title %}
    Remosspace AB | About
  {% endblock %}

  {% block page_based_head_includes %}
  <link rel="stylesheet" href="{% static 'vendors/swiper-11.2.0/swiper-bundle.min.css' %}">
  {% endblock %}

  {% block page %}
  <!-- Team and Board section-->
  <section class="bg-[#0C0F22] text-white py-16 px-8">
    <div class="max-w-7xl mx-auto">
      <!-- About Management Team -->
      <div class="relative">
        <div class="lg:ml-[170px] text-left mb-0 mt-14">
          <h2 class="text-4xl text-white font-serif  font-normal leading-normal -mb-2">About</h2>
          <span class="text-2xl font-serif leading-normal font-light">Management Team</span>
        </div>

        <div class="relative flex justify-center gap-12 mb-8  h-[680px]">
             <!-- Decorative Rounded Rectangles -->
             <div class="absolute w-[120px] h-[291px] bg-white rounded-[72px] top-[21%] left-[41%] z-1"></div>
             <div class="absolute w-[126px] h-[260px] bg-white rounded-[72px] top-[8%] right-[39%] z-1"></div>
             <div class="absolute w-[147px] h-[306px] border-2 border-[#2BA9F0] rounded-[93px] top-[13%] left-[45%] z-5"></div>

          <!-- CEO -->
          <div class="flex flex-row items-center absolute top-3 left-[3%] z-10 flex-shrink-0">
            <!-- Details Section -->
            <div class="flex flex-col text-right order-1 mr-8">
                <p class="font-sans font-lg font-bold">CEO</p>
              <h3 class="text-2xl font-light  font-serif">Moses Browne Mwakyanjala (PhD)</h3>
              <a href="mailto:moses.email@example.com" class="text-lg font-serif font-light text-white">moses.browne.mwakyanjala@remosspace.com</a>
              <p class="text-lg font-sans font-light">+46 70-28 21 74</p>
            </div>
            <!-- Image Section -->
            <div class="relative w-[183px] h-[275px] flex-shrink-0 order-2">
              <img src="{% static 'img/team/moses.png' %}" alt="CEO Image" class="rounded-full object-cover w-full h-full" />
            </div>
          </div>

          <!-- COO -->
          <div class="flex flex-row items-center absolute top-[17%] right-[9%] z-10 flex-shrink-0">
            <!-- Details Section -->
            <div class="flex flex-col text-left order-2 ml-8">
            <p class="font-sans font-lg font-bold">COO</p>
              <h3 class="text-2xl font-light  font-serif">Petter Lindberg</h3>
              <a href="mailto:petter.email@example.com" class="text-lg font-serif font-light text-white">petter.lindberg@remosspace.com</a>
              <p class="text-lg font-sans font-light">+00-011 22 33</p>
            </div>
            <!-- Image Section -->
            <div class="relative w-[183px] h-[275px] flex-shrink-0 order-1">
              <img src="{% static 'img/team/petter.png' %}" alt="COO Image" class="rounded-full object-cover w-full h-full" />
            </div>
          </div>

          <!-- CSO -->
          <div class="flex flex-row items-center absolute bottom-[12%] left-[15%] z-10 flex-shrink-0">
            <!-- Details Section -->
            <div class="flex flex-col text-right order-1 mr-8">
                <p class="font-sans font-lg font-bold">CSO</p>
              <h3 class="text-2xl font-light font-serif">Thilini Wijewarna Arachchi</h3>
              <a href="mailto:thilini.email@example.com" class="text-lg font-serif font-light text-white"">thilini.w@remosspace.com</a>
              <p class="text-lg font-sans font-light">+46 76 581 56 80</p>
            </div>
            <!-- Image Section -->
            <div class="relative w-[183px] h-[275px] flex-shrink-0 order-2">
              <img src="{% static 'img/team/thilini.png' %}" alt="CSO Image" class=" filter grayscale rounded-full object-cover w-full h-full" />
            </div>
          </div>
        </div>
      </div>

      <!-- Our Board -->
      <div class="">
        <div class="text-start lg:w-[45%] mx-auto mb-12">
          <h2 class="text-4xl font-normal font-serif">Our Board</h2>
        </div>

        <div class="flex flex-wrap justify-center gap-5">
          <!-- Board Member 1 -->
          <div class="flex flex-col items-center lg:w-[215px] text-center">
            <div class=" mb-4">
              <img src="{% static 'img/board/moses.png' %}" alt="Board Member" class="rounded-full object-cover w-[184px] h-[275px] " />
            </div>
            <h3 class="text-2xl font-serif font-light">Moses Browne Mwakyanjala</h3>
            <p class="text-lg font-sans font-light">Founder of Remos</p>

          </div>

          <!-- Board Member 2 -->
          <div class="flex flex-col items-center lg:w-[215px] text-center ">
            <div class=" mb-4">
                <img src="{% static 'img/board/christer.png' %}" alt="Board Member" class=" rounded-full object-cover w-[184px] h-[275px]" />
            </div>
            <h3 class="text-2xl font-serif font-light">Christer Andersson</h3>
            <p class="text-lg font-sans font-light">Earth Observation Expert</p>
          </div>

          <!-- Board Member 3 -->
          <div class="flex flex-col items-center lg:w-[215px] text-center ">
            <div class="mb-4">
                <img src="{% static 'img/board/mustafa.png' %}" alt="Board Member" class=" rounded-full object-cover w-[184px] h-[275px]" />
            </div>
            <h3 class="text-2xl font-serif font-light">Mustapha Elriz</h3>
            <p class="text-lg font-sans font-light">Founder of Satosuit</p>
          </div>

          <!-- Board Member 4 -->
          <div class="flex flex-col items-center lg:w-[215px] text-center ">
            <div class=" mb-4">
                <img src="{% static 'img/board/stefan.png' %}" alt="Board Member" class=" rounded-full object-cover w-[184px] h-[275px]" />
            </div>
            <h3 class="text-2xl font-serif font-light">Stefan Gardefjord</h3>
            <p class="text-lg font-sans font-light">Former CEO of SSC</p>
          </div>

          <!-- Board Member 5 -->
          <div class="flex flex-col items-center lg:w-[215px] text-center ">
            <div class=" mb-4">
                <img src="{% static 'img/board/markus.png' %}" alt="Board Member" class="rounded-full object-cover w-[184px] h-[275px]" />
            </div>
            <h3 class="text-2xl font-serif font-light">Markus Priman</h3>
            <p class="text-lg font-sans font-light">Co-Founder of Nexabounds</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- partners Section -->
  <section id="partners" class="bg-white pt-6 pb-4">
    <div class="w-[80%] mx-auto ">
        <h2 class="font-serif text-[#0C0F22] font-normal text-3xl ">Our Partners</h2>
    </div>
    <!-- logo carousel-->
    <div class="bg-white py-2">
      <div class="swiper-container max-w-full mx-auto">
        <div class="swiper-wrapper">
          <div class="swiper-slide flex justify-center items-center">
            <img src="{% static 'img/partners/ab.png' %}" alt="Artic Business" class="max-h-24 object-contain">
          </div>
          <div class="swiper-slide flex justify-center items-center">
            <img src="{% static 'img/partners/almi.png' %}" alt="Almi Invest" class="max-h-24 object-contain">
          </div>
          <div class="swiper-slide flex justify-center items-center">
            <img src="{% static 'img/partners/cassani.png' %}" alt="Cassani Business Accelerator" class="max-h-24 object-contain">
          </div>
          <div class="swiper-slide flex justify-center items-center">
            <img src="{% static 'img/partners/esa.png' %}" alt="ESA" class="max-h-24 object-contain">
          </div>
          <div class="swiper-slide flex justify-center items-center">
            <img src="{% static 'img/partners/lunova.png' %}" alt="Lunova" class="max-h-24 object-contain">
          </div>
          <div class="swiper-slide flex justify-center items-center">
            <img src="{% static 'img/partners/nf.png' %}" alt="Norrlands Fonden" class="max-h-24 object-contain">
          </div>
          <div class="swiper-slide flex justify-center items-center">
            <img src="{% static 'img/partners/rn.png' %}" alt="Region Norrbotten" class="max-h-24 object-contain">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white text-black py-16 px-8">
    <div class="max-w-7xl lg:w-[75%] mx-auto grid grid-cols-1 md:grid-cols-2 gap-12">
      <!-- First Row -->
      <div class="flex flex-col justify-center h-full text-left">
        <h3 class="text-2xl font-serif font-light mb-4">Higher demand</h3>
        <p class="text-gray-600 font-sans">
         <span class="font-bold"> As demand for space data grows, so does the need for satellites.</span> Smaller, lighter, and more affordable satellites are meeting this need, with over 30,000 expected in orbit by 2030—advancing global connectivity and exploration.
        </p>
      </div>
      <div class="flex items-center lg:justify-end">
        <img
          src="{% static 'img/about-1.png' %}"
          alt="Satellite in space"
          class="w-[473px] rounded-[75px] h-auto max-h-[273px] object-cover"
        />
      </div>

      <!-- Second Row -->
      <div class="flex items-center order-last md:order-none lg:justify-start">
        <img
          src="{% static 'img/about-2.png' %}"
          alt="Satellite dish"
          class="w-[473px] rounded-[75px] h-auto max-h-[273px] object-cover"
        />
      </div>
      <div class="flex flex-col justify-center h-full text-right">
        <h3 class="text-2xl font-serif font-light mb-4">We provide efficiency</h3>
        <p class="text-gray-600 font-sans">
         <span class="font-bold">The surge in new satellites creates a major challenge: the need for cost-effective, adaptable ground systems.</span> Traditional ground operators rely on costly and complex solutions for these needs. At Remos, we saw this gap and launched our company to transform ground operations for the new space era.
        </p>
      </div>

      <!-- Third Row -->
      <div class="flex flex-col justify-center h-full text-left">
        <h3 class="text-2xl font-serif font-light mb-4">An all-encompassing solution</h3>
        <p class="text-gray-600 font-sans">
        <span class="font-bold">From mission scheduling to waveform processing: Our software modern provides a full suite of capabilities—all accessible through a single API.</span> Unlike traditional stations that rely on manual processes and lack compatibility with modern missions, Remos offers seamlessly integrated, automated software.
        </p>
      </div>
      <div class="flex items-center lg:justify-end">
        <img
          src="{% static 'img/about-3.jpg' %}"
          alt="View of Earth"
          class="w-[473px] rounded-[75px] h-auto max-h-[273px] object-cover"
        />
      </div>

      <!-- Fourth Row -->
      <div class="flex items-center order-last md:order-none lg:justify-start">
        <img
          src="{% static 'img/about-4.jpg' %}"
          alt="Stars and galaxy"
          class="w-[473px] rounded-[75px] h-auto max-h-[273px] object-cover"
        />
      </div>
      <div class="flex flex-col justify-center h-full text-right">
        <h3 class="text-2xl font-serif font-light mb-4">We exist to support the explorer</h3>
        <p class="text-gray-600 font-sans">
         <span class="font-bold">Our solutions let space companies focus on exploration and discovery while we handle the complexity.</span>  We're pioneering a new era of ground stations that are agile, scalable, and automated. Unlike traditional solutions, Remos transforms ground stations into APIs.
        </p>
      </div>
    </div>
  </section>


  {% endblock %}

{% block page-based-js %}
<script src="{% static 'vendors/swiper-11.2.0/swiper-bundle.min.js' %}" defer></script>
<script>

    // partners slider
    document.addEventListener('DOMContentLoaded', function () {
      const swiper = new Swiper('.swiper-container', {
        loop: true,
        spaceBetween: 30,
        autoplay: {
          delay: 0,
          disableOnInteraction: false,
        },
        speed: 6000, // Control how fast the slider flows
        breakpoints: {
          640: { slidesPerView: 2 }, // For screens >= 640px
          768: { slidesPerView: 3 }, // For screens >= 768px
          1024: { slidesPerView: 5 }, // For screens >= 1024px
        },
      });
    });
</script>

{% endblock %}
