{% extends "site_app/base.html" %}
{% load static %}

{% block title %}
  Remosspace AB | Blog
{% endblock %}

{% block page_based_head_includes %}

{% endblock %}

{% block page %}
<section class="bg-white max-w-[90%] mx-auto py-12">
  <div class="container w-full pl-[5%] mb-3 text-[#0C0F22] top-section-first-div">
    <h2 class="font-serif font-normal text-4xl ">Podcast</h2>
  </div>

  <div class="w-full border-b border-[#2BA9F0] pb-6">
    <div class="flex flex-row lg:gap-9 max-w-7xl mx-auto justify-center items-center">
      <div>
        <img src="{% static 'img/podcast.png' %}" alt="Space to Ground Logo" class="w-72 h-auto lg:min-w-[368px]">
      </div>

      <div class="max-w-[38%]">
        <p class="mb-4">Listen to our podcast - <b>Space to Ground.</b></p>
        <p>This podcast is meant to drive more <b>awareness</b>, explore the <b>latest technologies</b>, and <b>help the industry navigate collaborative opportunities</b>.</p>
      </div>
    </div>
  </div>

  <!-- podcast Cards -->
  <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0 mt-6  ">
    <!-- Card 1 -->
    <div class="p-9 lgTo1160:p-6 border-r border-[#2BA9F0] flex flex-col">
      <div class="h-52 w-52 lgTo1160:h-44 lgTo1160:w-44 rounded-[45px] bg-cover bg-center mx-auto"
        style="background-image: url('{% static "img/pod1.png" %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
      </div>
      <div class="text-[#0C0F22] mt-4 text-sm mx-auto">
        Join us!.. lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo auctor sem.”
      </div>
    </div>

    <!-- Card 2 -->
    <div class="p-9 lgTo1160:p-6 border-r border-[#2BA9F0] flex flex-col">
      <div class="h-52 w-52 lgTo1160:h-44 lgTo1160:w-44 rounded-[45px] bg-cover bg-center mx-auto"
        style=" background-image: url('{% static "img/pod2.png" %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
      </div>
      <div class="text-[#0C0F22] mt-4 text-sm mx-auto">
        Visit to Leaf space... lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo auctor sem.”
      </div>
    </div>

    <!-- Card 3 -->
    <div class="p-9 lgTo1160:p-6 border-r border-[#2BA9F0] flex flex-col">
      <div class="h-52 w-52 lgTo1160:h-44 lgTo1160:w-44 rounded-[45px] bg-cover bg-center mx-auto"
        style="background-image: url('{% static "img/pod1.png" %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
      </div>
      <div class="text-[#0C0F22] mt-4 text-sm mx-auto">
        Join us!.. lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo auctor sem.”
      </div>
    </div>

    <!-- Card 4 -->
    <div class="p-9 lgTo1160:p-6 flex flex-col">
      <div class="h-52 w-52 lgTo1160:h-44 lgTo1160:w-44 rounded-[45px] bg-cover bg-center mx-auto"
        style=" background-image: url('{% static "img/pod2.png" %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
      </div>
      <div class="text-[#0C0F22] mt-4 text-sm mx-auto">
        Join us!.. lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo auctor sem.”
      </div>
    </div>
  </div>
</section>


<!-- News section -->
<section  class="bg-[#0C0F22] py-16">
  <div class="max-w-[90%] mx-auto px-4">
    <!-- News Section -->
    <div class="mb-16">
      <h2 class="text-white text-4xl  mb-4 font-serif">News</h2>
      <p class="text-white mb-8">
        Read about our latest happenings and learn new insights through our Podcast.
      </p>

      <!-- News Cards -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0">
        <!-- Card 1 -->
        <div class="p-9 border-r border-[#2BA9F0] flex flex-col">
          <img src="{% static 'img/news-img.png' %}" alt="News 1" class="rounded-[20%] mb-4 max-w-full h-auto">
          <p class="text-white mt-auto text-sm">
            Join us... lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
      </div>

        <!-- Card 2 -->
        <div class="p-9 border-r border-[#2BA9F0] flex flex-col">
          <img src="{% static 'img/news-img.png' %}" alt="News 1" class="rounded-[20%] mb-4 max-w-full h-auto">
          <p class="text-white mt-auto text-sm">
            Visit us... lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
      </div>

        <!-- Card 3 -->
        <div class="p-9 border-r border-[#2BA9F0] flex flex-col">
          <img src="{% static 'img/news-img.png' %}" alt="News 1" class="rounded-[20%] mb-4 max-w-full h-auto">
          <p class="text-white mt-auto text-sm">
            Learn more... lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
      </div>

        <!-- Card 4 -->
        <div class="p-9  flex flex-col">
          <img src="{% static 'img/news-img.png' %}" alt="News 1" class="rounded-[20%] mb-4 max-w-full h-auto">
          <p class="text-white mt-auto text-sm">
            Discover more... lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
      </div>
      </div>


      <!-- More Articles -->
      <div class="mt-10">
        <a href="#" class="text-blue-400 hover:underline">
          More articles >
        </a>
      </div>
    </div>

    {% include 'site_app/includes/podcast_div.html' %}
  </div>
</section>


{% endblock %}

{% block page-based-js %}

{% endblock %}
