{% extends "site_app/base.html" %}
{% load static %}

{% block title %}
  Remosspace AB | Blog
{% endblock %}

{% block page_based_head_includes %}
{% endblock %}

{% block page %}
<!-- contact section -->
<section class="bg-white py-12 flex-grow">
  <div class="container mx-auto max-w-5xl mb-3 text-[#0C0F22] top-section-first-div lgTo1160:pl-5">
    <h2 class="font-serif font-normal text-4xl lgTo1160:text-3xl ">Contact</h2>
    <h3 class="font-bold text-lg lgTo1160:text-base font-sans"> Reach Out </h3>
  </div>
  <div class="container mt-9 mx-auto max-w-5xl  grid grid-cols-1 md:grid-cols-3 gap-5 lgTo1160:gap-3 lgTo1160:px-5 ">

    <!-- Contact Information -->
    <div class="space-y-8 font-sans text-[#0C0F22]">
      <div class="p-8 light-box-shadow  rounded-[41px] ">
        <p class="font-bold text-lg lgTo1160:text-base ml-2">Email:</p>
        <p class="font-light text-[1.7rem] lgTo1160:text-[1.4rem] leading-8">info@remosspace.com</p>
        <p class="font-bold text-lg lgTo1160:text-base mt-5 ml-3">Phone:</p>
        <p class="font-light text-[1.7rem] lgTo1160:text-[1.4rem]  leading-8">+46 70 307 69 11</p>
      </div>
      <div class="mt-10 p-8 light-box-shadow  rounded-[41px] ">
        <p class="font-bold text-lg lgTo1160:text-base">Remos Space Systems AB</p>
        <div class="mt-4 block font-light text-[1.7rem] lgTo1160:text-[1.4rem] leading-8">
          <p>Aurorum 1C</p>
          <p>SE-977 75 Luleå,</p>
          <p> Sweden</p>
        </div>

      </div>
    </div>


    <!-- Illustration -->
  <div class="flex justify-center  items-center relative w-96 h-96 lgTo1160:w-[307px] lgTo1160:h-[307px]">
    <!-- Dark Circle (lowest z-index) -->
    <div class="absolute bg-gray-900 rounded-full w-56 h-56 lgTo1160:w-[172px] lgTo1160:h-[172px] z-0"></div>

    <!-- Concentric Circles -->
    <div class="absolute border border-blue-500 rounded-full w-56 h-56 lgTo1160:w-[172px] lgTo1160:h-[172px] z-10" style="right: 28%;"></div>
    <div class="absolute border border-blue-500 rounded-full w-28 h-28 lgTo1160:w-[90px] lgTo1160:h-[90px]  z-10" style="right: 28%;"></div>

    <!-- Orbiting Circles -->
    <div class="absolute bg-[#2BA9F0] rounded-full w-4 h-4 lgTo1160:w-[13px] lgTo1160:h-[13px]  z-20" style="top: 47%; right: 33%;"></div>
    <div class="absolute bg-[#2BA9F0] rounded-full w-6 h-6 lgTo1160:w-[19px] lgTo1160:h-[19px]  z-30" style="top: 49%; right: 40%;"></div>
    <div class="absolute bg-[#2BA9F0] rounded-full w-10 h-10 lgTo1160:w-[32px] lgTo1160:h-[32px] z-30" style="top: 56%; right: 47%;"></div>
    <div class="absolute bg-[#2BA9F0] rounded-full w-14 h-14 lgTo1160:w-[45px] lgTo1160:h-[45px]  z-40" style="top: 68%; right: 53%;"></div>

  </div>


    <!-- Contact Form -->
    <div class=" px-7 pb-16 pt-9 rounded-[51px]  light-box-shadow">
      <form class="space-y-4 ">
        <input
          type="text"
          placeholder="Name"
          class="w-full p-3 border border-[#2BA9F0] rounded-[20px]  focus-visible:outline-1 focus-visible:outline-[#2BA9F0]"
        />
        <input
          type="email"
          placeholder="Email"
          class="w-full p-3 border border-[#2BA9F0] rounded-[20px]  focus-visible:outline-1 focus-visible:outline-[#2BA9F0]"
        />
        <input
          type="text"
          placeholder="Phone number (Optional)"
          class="w-full p-3 border border-[#2BA9F0] rounded-[20px]  focus-visible:outline-1 focus-visible:outline-[#2BA9F0]"
        />
        <select
          class="w-full p-3 border text-gray-600 border-[#2BA9F0] rounded-[20px]  focus-visible:outline-1 focus-visible:outline-[#2BA9F0]"
        >
          <option>What's on your mind?</option>
          <option>Inquiry</option>
          <option>Support</option>
          <option>Feedback</option>
        </select>
        <textarea
          placeholder="Message..."
          rows="4"
          class="w-full p-3 border border-[#2BA9F0] rounded-[20px]  focus-visible:outline-1 focus-visible:outline-[#2BA9F0]"
        ></textarea>
        <input class="w-full text-lg text-gray-600 font-semibold p-3 light-box-shadow rounded-[20px]"
        type="submit"
        value="Send Message"
        />
      </form>
    </div>
  </div>
</section>


{% endblock %}

{% block page-based-js %}

{% endblock %}
