{% extends "site_app/base.html" %}
{% load static %}
{% load wagtailcore_tags  %}
{% load wagtailimages_tags %}

{% block title %}
  Remosspace AB | {{ page.title }}
{% endblock %}

{% block page_based_head_includes %}
{% endblock %}

{% block page %}
<!-- Generic News/Articles Page -->
<section class="mx-auto py-12 px-4 md:px-8">
    <!-- Full Width Title & Subtitle -->
    <div class="container mx-auto lg:w-[85%] text-center mb-8 pb-2 border-b border-[#2BA9F0] top-section-first-div">
      <h1 class="text-3xl sm:text-4xl md:text-5xl font-serif font-semibold text-[#0C0F22] mb-4">
        {{ page.article_title }}
      </h1>
      <h2 class="text-lg sm:text-xl md:text-2xl font-sans font-light text-[#0C0F22] mb-3">
        {{ page.article_subtitle }}
      </h2>
      <div class="text-end">
        <span class="font-light text-[#0C0F22] "> Posted: {{ page.date|date:"Y-m-d" }}</span>
      </div>

    </div>


    <!-- Article Content -->
    <div class="container mx-auto lg:w-[85%] news-article-container">

      {% for block in page.article_body %}
          {% include_block block %}
      {% endfor %}

    </div>
  </section>

{% endblock %}

{% block page-based-js %}

{% endblock %}
