{% load wagtailcore_tags wagtailimages_tags %}

{% image block.value.image original as img %}
<div class="mb-6 text-[#0C0F22] font-sans font-light">
    <!-- Wrapping Container -->
    <div class="lg:flex lg:items-start lg:gap-5">
        {% if block.value.text_on_left %}
            <!-- Text on Left, Image on Right -->
            <div class="prose lg:w-1/2">
                {{ block.value.text|richtext }}
            </div>
            <div class="relative lg:w-1/2">
                <img src="{{ img.url }}" alt="{{ block.value.image.alt_text }}"
                     class="rounded-lg shadow-lg w-full md:max-w-[47%] lg:max-w-full md:float-right md:ml-5 md:mb-3 lg:float-none lg:ml-0" />
            </div>
        {% else %}
            <!-- Image on Left, Text on Right -->
            <div class="relative lg:w-1/2">
                <img src="{{ img.url }}" alt="{{ block.value.image.alt_text }}"
                     class="rounded-lg shadow-lg w-full md:max-w-[47%] lg:max-w-full md:float-left md:mr-5 md:mb-3 lg:float-none lg:mr-0" />
            </div>
            <div class="prose lg:w-1/2">
                {{ block.value.text|richtext }}
            </div>
        {% endif %}
    </div>
</div>
